<footer class="footer-section">
  <img src="../../../../../assets/images/logo-footer.svg" alt="footer logo" class="footer__logo">
  <div class="container">
    <div class="footer-wrap">
      <div class="civil-info civil">
        <h2 class="civil-title"><span>1935 — 2019 ©</span></h2>
        <h3 class="civil-subtitle">Правовая информация</h3>
        <p class="civil-text">Посещая сайт <span>www.mosmetro.ru</span> Вы даете согласие на обработку
          файлов cookie, сбор которых осуществляется ГУП «Московский метрополитен» на условиях
          <span>Политики обработки файлов </span>cookie. Метрополитен также может использовать
          указанные данные для их последующей обработки системами Яндекс.Метрика и др., которая
          осуществляется с целью функционирования сайта <span>www.mosmetro.ru</span>.</p>
      </div>

      <div class="links links_mr70 links_hidden">
        <div class="links-wrap">
          <h2 class="links__title">mos.ru</h2>
          <p class="links__text links__text_mb72 links__text_w124 links__text_mb52">Правительство Москвы</p>
          <h2 class="links__title">mintrans.su</h2>
          <p class="links__text links__text_w134 links__text_w124">Министерство Транспорта Российской Федераци</p>
        </div>
      </div>

      <div class="links links_mr80 links_hidden">
        <div class="links-wrap">
          <h2 class="links__title">dt.mos.ru</h2>
          <p class="links__text links__text_w191 links__text_mb32">Департамент транспорта и развития
            дорожно-транспортной инфраструктуры</p>
          <h2 class="links__title">mosgortrans.ru</h2>
          <p class="links__text links__text_w236 links__text_w158">Государственное унитарное
            предприятие Мосгортранс</p>
        </div>
      </div>

      <div class="links links_hidden">
        <div class="links-wrap">
          <h2 class="links__title">transport.mos.ru</h2>
          <p class="links__text links__text_mb76">Московский транспорт</p>
          <div class="app-links app">
            <img src="../../../../../assets/images/app-store.png" alt="app store" class="app__app-store">
            <img src="../../../../../assets/images/google-play.png" alt="google play" class="app__google-play">
          </div>
        </div>
      </div>


      <div class="links links_mr32 links-2">
        <div class="links-wrap">
          <h2 class="links__title">mos.ru</h2>
          <p class="links__text links__text_mb72">Правительство Москвы</p>
          <h2 class="links__title">mintrans.su</h2>
          <p class="links__text links__text_mb32 links__text_w159">Министерство Транспорта Российской Федераци</p>
          <h2 class="links__title">transport.mos.ru</h2>
          <p class="links__text">Московский транспорт</p>
        </div>
      </div>

      <div class="links links-2">
        <div class="links-wrap">
          <h2 class="links__title">dt.mos.ru</h2>
          <p class="links__text links__text_w223 links__text_mb32">Департамент транспорта и развития
            дорожно-транспортной инфраструктуры</p>
          <h2 class="links__title">mosgortrans.ru</h2>
          <p class="links__text links__text_w223 links__text_mb32">Государственное унитарное
            предприятие Мосгортранс</p>
          <div class="app-links app">
            <img src="../../../../../assets/images/app-store.png" alt="app store" class="app__app-store">
            <img src="../../../../../assets/images/google-play.png" alt="google play" class="app__google-play">
          </div>
        </div>
      </div>


      <div class="links-wrapper-mini">
        <div class="links links_mr32 links-3">
          <div class="links-wrap">
            <h2 class="links__title">mos.ru</h2>
            <p class="links__text links__text_mb44">Правительство Москвы</p>
            <h2 class="links__title">dt.mos.ru</h2>
            <p class="links__text links__text_w158">Департамент транспорта и развития
              дорожно-транспортной инфраструктуры</p>
          </div>
        </div>

        <div class="links links_mr32 links-3">
          <div class="links-wrap">
            <h2 class="links__title">mintrans.su</h2>
            <p class="links__text links__text_mb24">Министерство Транспорта Российской Федераци</p>
            <h2 class="links__title">mosgortrans.ru</h2>
            <p class="links__text links__text_w158">Государственное унитарное
              предприятие Мосгортранс</p>
          </div>
        </div>

        <div class="links links-3">
          <div class="links-wrap">
            <h2 class="links__title">transport.mos.ru</h2>
            <p class="links__text links__text_mb44">Московский транспорт</p>
            <div class="app-links app">
              <img src="../../../../../assets/images/app-store.png" alt="app store" class="app__app-store">
              <img src="../../../../../assets/images/google-play.png" alt="google play" class="app__google-play">
            </div>
          </div>
        </div>
      </div>

      <div class="links-wrapper-mini">
        <div class="links links_mr32 links-4">
          <div class="links-wrap">
            <h2 class="links__title">mos.ru</h2>
            <p class="links__text links__text_mb64">Правительство Москвы</p>
            <h2 class="links__title">dt.mos.ru</h2>
            <p class="links__text links__text_w144 links__text_mb24">Департамент транспорта и развития
              дорожно-транспортной инфраструктуры</p>
            <h2 class="links__title">transport.mos.ru</h2>
            <p class="links__text">Московский транспорт</p>
          </div>
        </div>

        <div class="links links_mr32 links-4">
          <div class="links-wrap">
            <h2 class="links__title">mintrans.su</h2>
            <p class="links__text links__text_mb24 links__text_w144">Министерство Транспорта Российской Федераци</p>
            <h2 class="links__title">mosgortrans.ru</h2>
            <p class="links__text links__text_w144 links__text_mb44">Государственное унитарное
              предприятие Мосгортранс</p>
            <div class="app-links app">
              <img src="../../../../../assets/images/app-store.png" alt="app store" class="app__app-store">
              <img src="../../../../../assets/images/google-play.png" alt="google play" class="app__google-play">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
