<app-header
  title="Перейти к оплате"
  src="../../../../../assets/images/icon-avatar.png"
  link="/current-ticket">
</app-header>

<section class="tickets">
  <h2 class="tickets-section__title">Тарифы и продукты</h2>
  <p *ngIf="message" class="loading">Ошибка на сервере...</p>

  <ng-template #loader>
    <img alt="loader" class="loading-img" src="../../../assets/images/loader.gif"/>
  </ng-template>
  <ng-container *ngIf="!loading; else loader">
    <ng-container *ngFor="let ticket of tickets">
      <div class="card-tickets">
        <div class="tickets-section-image">
          <img [src]="ticket.image_url" alt="card" class="card-tickets__img">
        </div>
        <div class="tickets-section-info">
          <h2 class="tickets-section__subtitle">{{ticket.name}}</h2>
          <div class="tickets-text">
            <p class="tickets-section__text">{{ticket.description}}</p>
          </div>
        </div>
        <div class="button-container">
          <button class="tickets-section__button">Купить</button>
        </div>
      </div>

      <div class="card-tickets card-tickets-2">
        <div class="tickets-section-image">
          <img [src]="ticket.image_url" alt="card" class="card-tickets__img">
        </div>
        <div class="tickets-section-info">
          <h2 class="tickets-section__subtitle">{{ticket.name}}</h2>
          <div class="tickets-text">
            <p class="tickets-section__text">{{ticket.description}}</p>
          </div>
        </div>
      </div>
      <div class="button-container button-container-2">
        <div class="button-container-2_wrap">
          <button class="tickets-section__button">Купить</button>
        </div>
      </div>
    </ng-container>
  </ng-container>

</section>

